.topnav ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.topnav li{
    margin-right: 10px;
    display: inline-block;
}

/* Add a black background color to the top navigation */
.topnav {
    padding-top: 50px;
    font-size: 15px;
}

.topnav a {
    text-decoration: none;
    padding: 14px 14px;
    background-color: lightskyblue;
    color: white;
}

.topnav a.active {
    background-color: red;
    color: white;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: white;
    color: black;
}
/* Add a color to the active/current link */
body {
    padding-left: 225px;
    padding-right: 400px;
    text-align: left;
    background-color: black;
    color: white;
}
/* modifies showData (the table) */
#showData {
    background-color: black;
    font-size: 14px;
}
#showBad {
    color: red;
    list-style-image: url("/static/pictures/icons8-evil-30.png");
    background-color: black;
    font-size: 14px;
    margin-left: 0px;
    padding-right: 10px;
}

#noBad {
    margin-left: 0;
    color: magenta;
}


h3 {
    text-decoration: underline;
}

table, th, td {
    color: white;
    border: 1px solid;
    border-collapse: collapse;
    max-width: 100%
}

.highLight {
    color: lightgreen;
}

