/* Add a black background color to the top navigation */
.topnav {
    display: flex;
    justify-content: center;
}

/* Style the links inside the navigation bar */
.topnav a {
    background-color: lightskyblue;
    float: center;
    color: white;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    font-size: 15px;
}
/* Change the color of links on hover */
.topnav a:hover {
    background-color: white;
    color: black;
}
/* Add a color to the active/current link */
.topnav a.active {
    background-color: red;
    color: white;
}

body {
    padding-left: 50px;
    padding-right: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    background-color: black;
    color: white;
}
/* modifies showData (the table) */
#showData {
    background-color:black;
    font-size: 14px;
}

table, th, td {
    color: red;
    border: 1px solid;
    border-width: 1px solid;
    border-collapse: collapse;
}
