/* Add a black background color to the top navigation */
.topnav {
    padding-top: 50px;
    font-size: 15px;
}

.topnav a {
    text-decoration: none;
    padding: 14px 14px;
    background-color: lightskyblue;
    color: white;
}

.topnav a.active {
    background-color: red;
    color: white;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: white;
    color: black;
}
/* Add a color to the active/current link */
body {
    padding-left: 400px;
    padding-right: 400px;
    text-align: left;
    background-color: black;
    color: white;
}
/* modifies showData (the table) */
#showData {
    background-color:black;
    font-size: 14px;
}

table, th, td {
    color: red;
    border: 0.5px solid;
    border-width: 0.5px solid;
    border-collapse: collapse;
}
